<div class="container">
<form #form="ngForm" (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" 
    ngModel
    #username = ngModel
   (change)=log(username)
    name="username" 
    id="username" 
    class="form-control" required maxlength="10" minlength="3" pattern="shashi"/>
    <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
      <div *ngIf="username.errors.required">This field is required</div>
      <div *ngIf="username.errors.minlength">Minimum 3 characters</div>
      <div *ngIf="username.errors.pattern">it should be match </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <textarea name="description" id="description" cols="30" rows="10" class="form-control">

    </textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-success" [disabled]="!form.valid">submit</button>
  </div>
</form>

</div>
